/* Menu */
.ui.menu { border-radius: 0; }

/* Add todo */
.add-todo { margin: 2rem 0; }

/* List Todos */
.ui.list-todos input { margin-right: 10px; }
.ui.list-todos .content { white-space: pre-wrap; }

/* Typography Colors */
.text-danger { color: #f20000; }

/* Typography Alignment */
.text-center { text-align: center !important; }
